<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完善信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/register/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/register/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/register/css/custom.css">
    <script src="/static/js/jquery-1.11.1.js"></script>

    <script src="/static/register/js/index.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
</head>
<body>
<div class="section header">
    <div class="container">
        <div class="row">
            <h3 style="text-align: center;padding-top: 20px;">完善你的个人信息</h3>
            <form class="form-style" role="form" method="post" enctype="multipart/form-data" action="{:url('index/index/userregister')}">
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" name="name" maxlength="10" value="{$Think.session.name}">
                        <span>请输入你的姓名</span>
                    </li>
                    <li id="school">
                        <label for="school">School</label>
                        <select name="school" onchange="shcoolcheck(this)">
                            <option value="">请选择</option>
                            <option value="1">航空学院</option>
                            <option value="14">软件与微电子学院</option>
                        </select>
                        <span>选择你的学院</span>
                    </li>
                    <li id="grade">
                        <label for="grade">Grade</label>
                        <select name="grade" onchange="gradecheck(this)">
                            <option value="">请选择</option>
                            <option value="2013">2013级</option>
                            <option value="2014">2014级</option>
                            <option value="2015">2015级</option>
                            <option value="2016">2016级</option>
                        </select>
                        <span>选择你的年级</span>
                    </li>
                    <li>
                        <label for="class">Class</label>
                        <input type="text" name="class" maxlength="10" value="{$Think.session.class}">
                        <span>请输入你的班号</span>
                    </li>
                    <li>
                        <input type="submit" value="Send This" >
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
    }
</script>
</html>