<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>班级详细信息</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">

        <!-- 左边的header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><strong><i
                    class="icon fa fa-plane"></i> 选项</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>
        <!-- 右边的bar栏目 -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"><a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#" aria-expanded="false"> <i
                    class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:Url('index/backstage/logout')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a></li>
                </ul> <!-- /.dropdown-user --></li>
            <!-- /.dropdown -->
        </ul>
    </nav>


    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li><a href="{:url('index/backstage/home')}"><i class="fa fa-dashboard"></i> 控制台</a></li>

                <li><a href="{:url('index/backstage/activity')}"><i class="fa fa-qrcode"></i> 活动管理</a></li>

                <li  class="active">
                    <a href="#"><i class="fa fa-sitemap"></i> 总体信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{:url('index/backstage/grade')}">年级总体信息</a>
                        </li>
                        <li>
                            <a class="active-menu" href="{:url('index/backstage/classs')}">班级总体信息</a>
                        </li>
                        <li>
                            <a href="{:url('index/backstage/student')}">学生总体信息</a>
                        </li>
                    </ul>
                </li>

                {if($Think.session.user_status>=2)}
                <li>
                    <a href="#"><i class="fa fa-edit"></i> 管理员管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{:url('index/backstage/gradeadmin')}">级负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=3)}
                        <li>
                            <a href="{:url('index/backstage/collegeadmin')}">院负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=4)}
                        <li>
                            <a href="{:url('index/backstage/schooladmin')}">校负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=2)}
                    </ul>
                </li>
                {/if}

                {if($Think.session.user_status>=4)}
                <li><a href="{:url('index/backstage/diary')}"><i class="fa fa-desktop"></i> 操作日志</a></li>
                {/if}
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">班级总体信息<small>Class {$code}</small></h1>
            <ol class="breadcrumb">
                <li class=""><a href="{:url('index/backstage/index')}"> 控制台</a></li>
                <li class=""><a href="{:url('index/backstage/classs')}"> 班级总体信息</a></li>
                <li class="active"> 班级详细信息</li>
            </ol>

        </div>
        <div style="padding-left: 30px;"><a href="{:url('index/backstage/classinfoexcel',['id'=>$class.id])}"><button type="button" class="btn btn-success">导出至excel</button></a></div>
        <div id="page-inner">

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="min-height: 0">班级信息</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr style="min-height: 51px;">
                                        <th style="width: 20%">班号</th>
                                        <td style="width: 80%">{$class.code}</td>
                                    </tr>
                                    <tr style="min-height: 51px;">
                                        <th style="width: 20%">学院</th>

                                        <td style="width: 80%">
                                            {if($class->school==1)}
                                            航空学院
                                            {/if}
                                            {if($class->school==2)}
                                            航天学院
                                            {/if}
                                            {if($class->school==3)}
                                            航海学院
                                            {/if}
                                            {if($class->school==4)}
                                            材料学院
                                            {/if}
                                            {if($class->school==5)}
                                            机电学院
                                            {/if}
                                            {if($class->school==6)}
                                            力学与土木建筑学院
                                            {/if}
                                            {if($class->school==7)}
                                            动力与能源学院
                                            {/if}
                                            {if($class->school==8)}
                                            电子信息学院
                                            {/if}
                                            {if($class->school==9)}
                                            自动化学院
                                            {/if}
                                            {if($class->school==10)}
                                            计算机学院
                                            {/if}
                                            {if($class->school==11)}
                                            理学院
                                            {/if}
                                            {if($class->school==12)}
                                            管理学院
                                            {/if}
                                            {if($class->school==13)}
                                            人文与经法学院
                                            {/if}
                                            {if($class->school==14)}
                                            软件与微电子学院
                                            {/if}
                                            {if($class->school==15)}
                                            生命学院
                                            {/if}
                                            {if($class->school==16)}
                                            外国语学院
                                            {/if}
                                            {if($class->school==17)}
                                            教育实验学院
                                            {/if}
                                            {if($class->school==18)}
                                            国际教育学院
                                            {/if}
                                            {if($class->school==19)}
                                            马克思主义学院
                                            {/if}
                                            {if($class->school==20)}
                                            西北工业大学伦敦玛丽女王大学工程学院
                                            {/if}
                                            {if($class->school==21)}
                                            人才特区
                                            {/if}
                                            {if($class->school==22)}
                                            其他学院
                                            {/if}
                                        </td>
                                    </tr>
                                    <tr style="min-height: 51px;">
                                        <th style="width: 20%">年级</th>
                                        <td style="width: 80%">{$class.grade}级</td>
                                    </tr>
                                    <tr style="min-height: 51px;">
                                        <th style="width: 20%">报名总人次</th>
                                        <td style="width: 80%">{$class.sign}</td>
                                    </tr>
                                    <tr style="min-height: 51px;">
                                        <th style="width: 20%">选中总人次</th>
                                        <td style="width: 80%">{$class.success}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="min-height: 0">班级学生列表</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>

                                    <tr>
                                        <th style="width: 30%">姓名</th>
                                        <th style="width: 30%">学号</th>
                                        <th style="width: 20%">报名次数</th>
                                        <th style="width: 20%">选中次数</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="list" }
                                    <tr>
                                        <td style="width: 30%"><a href="{:url('index/backstage/studentinformation',['id'=>$list.id])}">{$list.name}</a></td>
                                        <td style="width: 30%;">{$list.code}</td>
                                        <td style="width: 20%;">{$list.sign}</td>
                                        <td style="width: 20%; color: green;">{$list.success}</td>

                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>

            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/static/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/static/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/static/assets/js/morris/morris.js"></script>


<script src="/static/assets/js/easypiechart.js"></script>
<script src="/static/assets/js/easypiechart-data.js"></script>

<script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/static/assets/js/custom-scripts.js"></script>


<!-- Chart Js -->
<script type="text/javascript" src="/static/assets/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/assets/js/chartjs.js"></script>

</body>

</html>