<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>后台管理</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">

        <!-- 左边的header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><strong><i
                    class="icon fa fa-plane"></i> 选项</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>
        <!-- 右边的bar栏目 -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"><a class="dropdown-toggle"
                                    data-toggle="dropdown" href="#" aria-expanded="false"> <i
                    class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:Url('index/backstage/logout')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a></li>
                </ul> <!-- /.dropdown-user --></li>
            <!-- /.dropdown -->
        </ul>
    </nav>


    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li><a class="active-menu" href="{:url('index/backstage/home')}"><i class="fa fa-dashboard"></i> 控制台</a></li>

                <li><a href="{:url('index/backstage/activity')}"><i class="fa fa-qrcode"></i> 活动管理</a></li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 总体信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">                        <li>
                        <a href="{:url('index/backstage/classs')}">班级总体信息</a>
                    </li>
                        <li>
                            <a href="{:url('index/backstage/student')}">学生总体信息</a>
                        </li>
                    </ul>
                </li>

                {if($Think.session.user_status>=2)}
                <li>
                    <a href="#"><i class="fa fa-edit"></i> 管理员管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{:url('index/backstage/gradeadmin')}">级负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=3)}
                        <li>
                            <a href="{:url('index/backstage/collegeadmin')}">院负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=4)}
                        <li>
                            <a href="{:url('index/backstage/schooladmin')}">校负责人管理</a>
                        </li>
                        {/if}
                        {if($Think.session.user_status>=2)}
                    </ul>
                </li>
                {/if}

                {if($Think.session.user_status>=4)}
                <li><a href="{:url('index/backstage/diary')}"><i class="fa fa-desktop"></i> 操作日志</a></li>
                {/if}
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">控制台<small>Welcome {$Request.session.user_name}</small></h1>
            <ol class="breadcrumb">
                <li class="active"> 控制台</li>
            </ol>

        </div>
        <div id="page-inner">

            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3>{$a}</h3>
                                    <small>活动总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-eye fa-5x red"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3>{$b}</h3>
                                    <small>活动参与总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-thumbs-o-up fa-5x blue"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3>{$c}</h3>
                                    <small>活动报名总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-comments fa-5x green"></i>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-md-12"></div>
            </div>


            <!-- /. ROW  -->

            <footer>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/static/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/static/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/static/assets/js/morris/morris.js"></script>


<script src="/static/assets/js/easypiechart.js"></script>
<script src="/static/assets/js/easypiechart-data.js"></script>

<script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/static/assets/js/custom-scripts.js"></script>


<!-- Chart Js -->
<script type="text/javascript" src="/static/assets/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/assets/js/chartjs.js"></script>

</body>

</html>